@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  font-family: "open sans", san-serif;
  width: 100%;
}

p {
  font-size: 12pt;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  overflow-x: hidden;
}

h1 {
  font-size: 18pt;
  width: fit-content;
}

h2 {
  font-size: 14pt;
  width: fit-content;
}

h3 {
  font-size: 13pt;
  margin-top: 0;
}

/* TOPBAR */
.logo {
  height: 40px;
  padding-left: 10px;
  padding-top: 3px;
}

.topbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  background-color: #6491e9;
}

.topbar-items {
  display: flex;
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
}

.topbar li a:hover {
  background-color: #95b4f1;
}

/* Hamburger */
.container {
  width: 100%;
  margin: auto;
  height: 100vh;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.menu-items a:hover {
  font-weight: bolder;
  color: #6491e9;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 24px;
  width: 30px;
  top: 20px;
  left: 10px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 24px;
  width: 30px;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  background-color: white;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

/* INDEX */
.cover {
  width: 200pt;
}

.cover-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  text-align: center;
  justify-content: space-around;
  height: 50%;
}

/* LOGO */
.emtext {
  color: #6491e9;
  font-weight: bolder;
}
.img-cont {
  display: flex;
  justify-content: center;
}
.img-cont > img {
  width: 50%;
}

.emtext.orange {
  color: #ff6c37;
}

.emtext.limegreen {
  color: #69c746;
}

.emtext.rajah {
  color: #ffa44b;
}

.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}
.col-3 > img {
  width: 80%;
}

.colour-cont {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-evenly;
}

.colour {
  width: 60pt;
  height: 60pt;
  border-radius: 50%;
  margin: 1em;
  aspect-ratio: 1;
}

.colour.orange {
  background-color: #ff6c37;
}

.colour.rajah {
  background-color: #ffa44b;
}

.colour.powderblue {
  background-color: #afe2e3;
}

.colour.limegreen {
  background-color: #69c746;
}

.colour-desc {
  display: flex;
  flex-direction: column;
}

.colour-name {
  font-weight: bold;
}

img.typography {
  width: 100%;
}

.section-cont {
  padding-bottom: 2em;
}

.desc-cont > img {
  width: 90%;
}

/* 




/* page 2 */
/* .page2 { */
/* margin: 0 auto;
  max-width: 940px;
}

.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}
.imgs {
  align-items: end;
}
.col-special {
  align-self: start;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
}
.col-2-font {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
}
.nunito {
  font-family: "nunito sans", Arial, Helvetica, sans-serif;
}
.nh1 {
  font-weight: bold;
  font-size: 32pt;
}
.nh2 {
  font-size: 22pt;
  font-weight: bolder;
}
.nh3 {
  font-size: 17pt;
  font-weight: bolder;
}
.nh4 {
  font-size: 16pt;
  font-weight: bolder;
}
.nbtn {
  font-size: 20pt;
  font-weight: bolder;
}
.desc {
  margin-top: 0;
  margin-bottom: 2em;
  font-family: "open sans", sans-serif;
}
.challenges {
  width: 100%;
}
.example {
  padding-top: 2em;
}
.palette {
  width: 100%;
}
div img {
  width: 100%;
}

/* page3 */
/* .page3 {
  margin: 0 12em;
}

.img_cont, .icon_cont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.timeresult, .clickable {
    max-width: 50%;
}

.img_cont > img {
  padding: 2em;
  max-width: 50%;
  max-height: 50%;
}

.desc_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon_cont > img {
  padding: 2em;
  height: 80px;
}

.dropshadow-desc {
    display: flex;
    flex-direction: column;
}

.dropshadow-desc > span {
    padding: 2em;
}

.graphic_cont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.happy, .sad{
  padding: 2em;
  max-width: 25%;
  max-height: 25%;
}

.happy_palette, .sad_palette, .green_palette{
  width: 50%;
  height: 50%;
} */

@media only screen and (max-width: 600px) {
  .topbar {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .topbar {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .sec-cont {
    height: 30%;
  }
  .navbar {
    display: none;
  }
  .topbar {
    display: inherit;
  }
  .img-cont.mainlogo > img {
    width: 30%;
  }
  h1 {
    font-size: 22pt;
  }
  h2 {
    font-size: 20pt;
  }

  h3 {
    font-size: 18pt;
  }

  p {
    font-size: 16pt;
  }
  .col-2.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .colour-desc > span {
    font-size: 14pt;
    white-space: nowrap;
  }
  .desc-cont.typo, .desc-cont.logo-variation {
    margin: 1em;
  }

  .desc-cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  @media only screen and (min-width: 992px) {
    h1 {
        font-size: 30pt;
      }
      h2 {
        font-size: 26pt;
      }
    
      h3 {
        font-size: 22pt;
      }
    
      p, span {
        font-size: 18pt;
      }
      .colour {
        width: 100pt;
        height: 100pt;
        border-radius: 50%;
        margin: 1em;
        aspect-ratio: 1;
      }

      .col-3 > img {
          width: 60%;
      }
  }
}
