body {
  margin: 0;
}

/* NAVBAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.navbar-active {
  float: right;
}

/* LOGO */
.section-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section-cont {
  width: 940px;
}

.desc-cont {
  display: flex;
}

.logo-colour {
  display: flex;
  justify-content: space-evenly;
}

.logo-colourpalette {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.colour-cont {
  display: flex;
  flex-direction: column;
}
.colour-name {
  font-weight: bold;
}

.img-desc {
  display: flex;
}
